[run]
source = mpdaf
omit =
   lib/mpdaf/_githash.py
   lib/mpdaf/conftest.py
   lib/mpdaf/*setup*
   lib/mpdaf/*tests/*
   lib/mpdaf/version*
   lib/mpdaf/scripts/update_license.py
   lib/mpdaf/tools/astropycompat.py
   lib/mpdaf/tools/numpycompat.py

[report]
show_missing = false
exclude_lines =
    pragma: no cover
    def __repr__
    def info
    def plot
    def _plot
    def _onclick
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
