.directory
*~
*.pyc
*.so
*.egg-info/
*.eggs/
.cache/
.coverage*
.pytest_cache/
.tox/
tags
build/
dist/
doc/api/
doc/_build/
htmlcov/
lib/mpdaf/_githash.py
lib/mpdaf/data/extern
lib/mpdaf/obj/merging.c
