.directory
*~
*.pyc
*.so
*.egg-info/
*.eggs/
.cache/
.coverage*
.pytest_cache/
.nox/
.tox/
tags
build/
dist/
docs/api/
docs/_build/
docs/_static/_generated/
htmlcov/
src/mpdaf/_githash.py
src/mpdaf/data/extern
src/mpdaf/obj/merging.c
_version.py
