[submodule "lib/mpdaf/fusion"]
	path = lib/mpdaf/fusion
	url = urania1.univ-lyon1.fr:/git/fusion.git
[submodule "lib/mpdaf/quickViz"]
	path = lib/mpdaf/quickViz
	url = urania1.univ-lyon1.fr:/git/quickViz.git
[submodule "mpdaf_user/fsf"]
	path = mpdaf_user/fsf
	url = urania1.univ-lyon1.fr:/git/fsf.git
[submodule "mpdaf_user/zap"]
	path = mpdaf_user/zap
	url = urania1.univ-lyon1.fr:/git/zap.git
