[submodule "lib/mpdaf/fusion"]
	path = lib/mpdaf/fusion
	url = http://urania1.univ-lyon1.fr/git/fusion.git
[submodule "lib/mpdaf/quickViz"]
	path = lib/mpdaf/quickViz
	url = http://urania1.univ-lyon1.fr/git/quickViz.git
