[submodule "lib/mpdaf_user/zap"]
	path = lib/mpdaf_user/zap
	url = urania1.univ-lyon1.fr:/git/zap.git
[submodule "lib/mpdaf_user/galpak"]
	path = lib/mpdaf_user/galpak
	url = urania1.univ-lyon1.fr:/git/galpak
