Aurelien Jarno <aurelien.jarno@univ-lyon1.fr> <aurelien@aurel32.net>
Floriane Leclercq <floriane.leclercq@univ-lyon1.fr>
Johan Richard <jrichard@univ-lyon1.fr>
Johan Richard <jrichard@univ-lyon1.fr> <johan@johan-richards-macbook-pro-2.local>
Johan Richard <jrichard@univ-lyon1.fr> JohanRichard <jrichard@johan-richards-macbook-pro.local>
Johan Richard <jrichard@univ-lyon1.fr> JohanRichard <jrichard@wifi-pers-0124.univ-lyon1.fr>
Johan Richard <jrichard@univ-lyon1.fr> JohanRichard <jrichard@wifi-pers-0299.univ-lyon1.fr>
Johan Richard <jrichard@univ-lyon1.fr> <jrichard@calends1.univ-lyon1.fr>
Johan Richard <jrichard@univ-lyon1.fr> <jrichard@capella.univ-lyon1.fr>
Laure Piqueras <laure.piqueras@univ-lyon1.fr>
Laure Piqueras <laure.piqueras@univ-lyon1.fr> <piqueras@urania4.univ-lyon1.fr>
Laure Piqueras <laure.piqueras@univ-lyon1.fr> <laure.piqueras@obs.univ-lyon1.fr>
Martin Shepherd <martin.shepherd@univ-lyon1.fr> <mcs@astro.caltech.edu>
Martin Shepherd <martin.shepherd@univ-lyon1.fr> <mcs.shepherd@gmail.com>
Roland Bacon <roland.bacon@univ-lyon1.fr>
Roland Bacon <roland.bacon@univ-lyon1.fr> <rolandbacon@mac-rb.univ-lyon1.fr>
Roland Bacon <roland.bacon@univ-lyon1.fr> <rolandbacon@new-host-4.home>
Roland Bacon <roland.bacon@univ-lyon1.fr> <rolandbacon@Rolands-MacBook.local>
Roland Bacon <roland.bacon@univ-lyon1.fr> <rolandbacon@Rolands-MacBook-Pro.local>
Roland Bacon <roland.bacon@univ-lyon1.fr> System Administrator <root@Rolands-MacBook.local>
Roland Bacon <roland.bacon@univ-lyon1.fr> System Administrator <root@wifi-pers-0400.univ-lyon1.fr>
Simon Conseil <simon.conseil@univ-lyon1.fr> <contact@saimon.org>
