include README.rst
include CHANGELOG
include LICENSE
include tox.ini
include ez_setup.py

graft doc
graft lib
graft src

prune doc/api
prune doc/build
prune lib/mpdaf.egg-info

global-exclude *.py[cod] __pycache__ *.so .directory _githash.py .git
