include README.rst
include CHANGES.rst

graft src
graft lib
graft doc
graft tests
graft data/obj

prune lib/mpdaf.egg-info
prune lib/mpdaf_user/galpak/data
prune lib/mpdaf_user/galpak/web
prune lib/mpdaf_user/galpak/build
prune lib/mpdaf_user/galpak/tests

prune lib/mpdaf/sdetect/origin

global-exclude *.py[cod] __pycache__ *.so .directory _githash.py .git
